$font-stack:    'Montserrat', sans-serif;
$primary-color: #555;
$secondary-color:#e40046;
/*Fonts*/
$name-color:$secondary-color;
$phone-color:$primary-color;
$mail-color:$secondary-color;
/*Backgrounds*/
$primary-bg-color:$secondary-color;