@import "../../app/main";
.user-container{
    margin-bottom : 0.8em;
    .card-title{
        text-transform: capitalize;
    }
    .user-name{
        color:$name-color;
    }
    .user-mail{
        color:$mail-color;
    }
    .user-phone{
        color:$phone-color;
    }
    .user-action{
        background-color:$primary-bg-color;
        border-color:$primary-bg-color;
    }
    .user-action:hover{
        background-color:$primary-color;
        border-color:$primary-color;
        font-weight:500;
    }
}